body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #464040;
    margin: 0;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 15px;
    border: 1px solid #ddd;
}

table th {
    background-color: #3e3b3b;
    font-weight: bold;
}

select {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s, color 0.3s;
}

.button-container button:hover {
    background-color: #45a049;
    color: white;
}

.button-container button a {
    color: white;
    text-decoration: none;
}

.button-container button.redd {
    background-color: #f44336;
}

.button-container button.redd:hover {
    background-color: #d32f2f;
}

.buanga button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}

.buanga button a {
    color: white;
    text-decoration: none;
}

.buanga button:hover {
    background-color: #45a049;
}

.crazy {
    position: absolute;
    padding-top: 25px;
}

.button.green {
    background-color: #42b5eb;
    color: white;
}