body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #464040;
    margin: 0;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 15px;
    border: 1px solid #ddd;
}

table th {
    background-color: #3e3b3b;
    font-weight: bold;
}

.button-container button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.actbutton, .actdelete {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.actbutton {
    background-color: #42b5eb;
}

.actdelete {
    background-color: #f44336;
}

.actbutton:hover, .actdelete:hover {
    opacity: 0.8;
}

.buanga button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}

.buanga button a {
    color: white;
    text-decoration: none;
}

.buanga button:hover {
    background-color: #45a049;
}

.container {
    position: absolute;
    padding-top: 50px;
}
